@import '../../../styles.scss';

.navbar {
    background-color: $primary;
}

.navbar-title {
    margin-right: 1rem;
    color: $secondaryDark;
    font-weight: bold;
}

li > button {
    margin-right: 10px;
}