<div class="list-group">
  <app-list-item
    *ngFor="let project of (projects | async)"
    [click]="this.navigate"
    [clickPayload]="project"
    [addPayload]="project"
    [editPayload]="project"
    [deletePayload]="project"
    [title]="project.name"
    [description]="this.project.description"
    [add]="this.addMemberComponent"
    [edit]="this.editProjectComponent"
    [delete]="deleteProjectComponent"
  ></app-list-item>
  <div class="add-new-project">
    <app-modal [component]="addProjectComponent"> + </app-modal>
  </div>
</div>
