<!-- <div class="d-flex w-100 justify-content-between">
  <a (click)="this.onProjectClicked()">
    <h5 class="mb-1">{{this.project.name}}</h5>
    <small>{{this.project.creationDate}}</small>
    <p class="mb-1">{{this.project.description}}</p>
    <small></small>
  </a>
  <app-modal [payload]=this.project [component]="editProjectComponent">
    <button class="btn btn-secondary">
      Edit
    </button>
  </app-modal>
</div> -->
<!--<div class="d-flex w-100 justify-content-between"> -->
<a (click)="this.onProjectClicked()">
  <app-card [title]="this.project.data.name" [text]="this.project.id + ' - ' + this.project.description">
    <app-modal [payload]=this.project>
      <button class="btn btn-secondary">
        Edit
      </button>
    </app-modal>
  </app-card>
</a>
