<app-header [title]="'Roadmap'" [add]="this.canDelete ? this.addMilestoneComponent : ''"></app-header>
<div class="container">
  <vertical-timeline *ngIf="this.hasMilestones$ | async">
    <vertical-timeline-card *ngFor="let milestone of this.milestones$ | async" [dateValue]="milestone.done.toDate()" [color]="'#F2F2F2'" class="myTimelineCard" [timeString]="' '">
     <h4>{{milestone.description}}</h4>
     <br>
      <app-modal [payload]="milestone" [component]="this.deleteMilestoneComponent" *ngIf="this.canDelete">
        <button type="button" class="btn btn-danger btn-sm myButton">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </app-modal>
    </vertical-timeline-card>
  </vertical-timeline>
</div>