<br>
<div class="container">
  <div class="row justify-content-center">
    <img width="20%" alt="Angular Logo" src="./assets/images/logo/flaticon.svg">
    <div class="col-sm-6">
      <app-sign-in></app-sign-in>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="d-flex align-content-lg-center flex-wrap justify-content-center">
  <app-card [image]="'./assets/images/haende.jpg'" [title]="'Größerer Umfang'" [text]="'Decken Sie gemeinsam Ihren Inhalt und Umfang ab.'"></app-card>
  <app-card [image]="'./assets/images/komplex.jpg'" [title]="'Qualität erhöhen'" [text]="'Planen Sie strukturiert und einfacher um Qualität zu erhöhen.'"></app-card>
  <app-card [image]="'./assets/images/zeit.jpg'" [title]="'Zeitmanagement'" [text]="'Kalkulieren Sie die Zeit für bestimmte Aufgaben genau.'"></app-card>
  <app-card [image]="'./assets/images/price.jpg'" [title]="'Kosten minimeren'" [text]="'Haben Sie jederzeit überblick über die Projektkosten.'"></app-card>
</div>