@import '../../../styles.scss';

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $primaryDark solid;
}

.buttons {
    margin: 10px;
}

.buttons > button {
    margin-left: 5px;
}

h1 {
    margin: 5px;
}