<div class="card m-3">
  <div *ngIf="image">
      <img class="card-img-top" src={{image}} alt="Card image cap">
  </div>
    <div class="card-body cardhover">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{text}}</p>
      <div *ngIf="developer">
        <small>Developer: {{developer}}</small>
      </div>
      <div *ngIf="start">
        <h6 class="card-text">Start: {{start}}</h6>
        <h6 class="card-text">End: {{end}}</h6>
        <h6 class="card-text">Planned Days: {{amount}}</h6>
      </div>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
</div>
