.outer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.5;
}
.loader {
    border: 16px solid #8f8181; /* Light grey */
    border-top: 16px solid #d88c00; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.centered {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .loaderimg {
      top: 50px;
      left: calc(50% - 125px);
      position: absolute;
  }