<div class="modal-header">
  <h4 class="modal-title">Delete milestone</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form id="myForm" (ngSubmit)="onSubmit()" #deleteMilestoneForm="ngForm">
      <div class="form-group">
        <p>Are you shure to delete the milestone <span class="milestone-name"> {{this.modalInput.name}} </span> ?</p>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button form="myForm" type="submit" class="btn btn-danger">Yes</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">No</button>
</div>