<div class="modal-header">
  <h4 class="modal-title">Add New Backlog</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form id="myForm" (ngSubmit)="onSubmit()" #addBacklogForm="ngForm">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input type="name" class="form-control" id="name" name="name" [(ngModel)]="backlog.name" required #name="ngModel">
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button form="myForm" [disabled]="!addBacklogForm.valid" type="submit" class="btn btn-success">Add</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>