<app-header
  [title]="'Select Backlogitems for next Sprint'"
  [showContent]="true"
>
  <div *ngIf="this.product_owner || this.scrummaster">
    <button
      (click)="this.navigatePoker()"
      type="button"
      class="btn btn-secondary"
    >
      Poker
    </button>
    <button
      (click)="this.navigateSelectedBacklogs()"
      type="button"
      class="btn btn-success"
    >
      Create Tasks for selected Backlogitems
    </button>
  </div>
  <div *ngIf="this.developer">
    <strong>Wait to get PBI's Selected</strong>
    <div *ngIf="this.project?.pokering">
      <p>The Scrummaster started a Planning Poker.</p>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="this.navigatePoker()"
      >
        Join
      </button>
    </div>
  </div>
</app-header>
<div class="list-group">
  <div *ngFor="let backlog of (this.backlogs | async | sort: 'priority')">
    <app-list-item
      [myStyle]="backlog.selected && { 'background-color': 'grey' }"
      [click]="this.select.bind(this)"
      [clickPayload]="backlog"
      [editPayload]="backlog"
      [title]="backlog.name"
      [edit]="this.editBacklogComponent"
      [description]="backlog.description"
      [backlogType]="'PBI Art: ' + backlog.type"
      [priority]="'Priorität: ' + backlog.priority"
    ></app-list-item>
  </div>
</div>
