<app-header
  [title]="'User-Storys'"
  [add]="this.addUserstoryComponent"
  [payload]="this.projectId"
></app-header>
<div class="list" *ngFor="let userstory of (userstorys | async)">
  <app-list-item
    [title]="userstory.name"
    [description]="userstory.description"
    [epic]="userstory.epic"
    [add]="this.addBacklogComponent"
    [edit]="this.editUserstoryComponent"
    [delete]="this.deleteUserstoryComponent"
    [addPayload]="this.projectId"
    [editPayload]="userstory"
    [deletePayload]="userstory"
  ></app-list-item>
</div>
