@import '../../../../../styles.scss';


.row-container {
    display: flex;
    height: 150px;
}

.backlog-container {
    border-right: 1px solid gray;
    padding: 5px;
    width: 20vw;
}

.tasks-row {
    display: inline-block;
    width: 80vw;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.task-card {
    display: inline-block;
    width: 300px;
    white-space: pre-wrap;
    height: 115px;
}

app-modal {
    display: inline-flex;
    float: right;
}

input.form-control {
    display: inline-block;
    width: 70px;
    margin-left: 5px;
}
