.row-container {
    display: flex;
}

.backlog-container {
    display: inline-block;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    width: 20vw;
}

.tasks-row {
    display: inline-block;
    width: 80vw;
    overflow-x: scroll;
    white-space: nowrap;
}

.task-card {
    display: inline-block;
    width: 300px;
}
