@import '../../../../styles.scss';

#dragContainer {
    height: 86vh;
    overflow-y: scroll;
    width: 18rem;
    background-color: $primary;
    border-radius: 5px;
}

.status-bar-name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
}


.drag-border {
    border: none;
}

.drag-hint-border {
    border: none;
}

.drag-over-border {
    border: none;
}

.add-task-button {
    background-color: $primary;
    margin-top: 5px;
    width: 100%;
    color: $secondaryDark;
}