<app-header
  *ngIf="this.backlog"
  [title]="'Tasks für Backlog: ' + this.backlog"
></app-header>
<div class="d-flex align-content-lg-space-between flex-wrap justify-content-center">
  <div droppable (onDrop)="onDropAdd($event)" class="list-group">
    <div *ngFor="let task of (tasks | async)">
      <div draggable [dragData]="task">
        <app-list-item
          [clickPayload]="task"
          [title]="task.name"
          [description]="task.description"
        ></app-list-item>
      </div>
    </div>
  </div>
  <div droppable (onDrop)="onDropRemove($event)" class="list-group">
    <div *ngFor="let task of (allTasks | async)">
      <div draggable [dragData]="task">
        <app-list-item
          [clickPayload]="task"
          [title]="task.name"
          [description]="task.description"
        ></app-list-item>
      </div>
    </div>
  </div>
</div>
