<div class="container-fluid">
  <h1>Project-Name: {{ (this.project | async)?.name }}</h1>
  <h5 class="text-muted">
    Project-Description: {{ (this.project | async)?.description }}
  </h5>
  <h5 class="text-muted">
    Projekt-Default Sprint time: {{(this.project | async)?.default_sprint_time}}
    + in ms: {{ (this.project | async)?.default_sprint_time_ms}}
  </h5>
</div>
<div class="d-flex align-content-lg-center flex-wrap justify-content-center">
  <app-card
    (click)="navigateBacklogs()"
    [title]="'Backlogs'"
    [text]="'Verwalten Sie alle Backlogs!'"
  ></app-card>
  <app-card
    (click)="navigateSprints()"
    [title]="'Sprints'"
    [text]="'Managen Sie die Sprint-Phasen mit verschiedenen Mitarbeitern'"
  ></app-card>
  <app-card
    (click)="navigateTasks()"
    [title]="'Tasks'"
    [text]="'Verwalten Sie Ihre Tasks oder fügen Sie welche hinzu'"
  ></app-card>
  <app-card
    (click)="navigateUserStorys()"
    [title]="'User-Storys'"
    [text]="'Erfassen Sie Kundenwünsche'"
  ></app-card>
  <app-card
    (click)="navigateRoadmap()"
    [title]="'Roadmap'"
    [text]="'Roadmap'"
  ></app-card>
</div>
