<div *ngIf="role === 'scrum master' || role === 'product owner'">
  <div class="modal-header">
    <h4 class="modal-title">Add member</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form id="myForm" (ngSubmit)="onSubmit()" #editProjectForm="ngForm">
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="user.email"
            required
            #email="ngModel"
          />
          <br />
          <label for="working_units" class="control-label">Working Units</label>
          <input
            type="working_units"
            class="form-control"
            id="working_units"
            name="working_units"
            [(ngModel)]="user.working_units"
            required
            #working_units="ngModel"
          />
        </div>
        <div *ngIf="role === 'product owner'">
          <div class="form-group">
            <label for="type" class="control-label">Select Role</label>
            <select
              class="form-control"
              required
              name="type"
              [(ngModel)]="selectedRole"
            >
              <option [value]="'scrum master'">Scrum-Master</option>
              <option [value]="'developer'">Developer</option>
            </select>
          </div>
        </div>
        <div *ngIf="role === 'scrum master'">
          <div class="form-group">
            <label for="type" class="control-label">Select Role</label>
            <select
              class="form-control"
              required
              name="type"
              [(ngModel)]="selectedRole"
            >
              <option [value]="'developer'">Developer</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      form="myForm"
      [disabled]="!editProjectForm.valid"
      type="submit"
      class="btn btn-success"
    >
      Add
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.dismiss()"
    >
      Cancel
    </button>
  </div>
</div>
<div *ngIf="role === 'developer'">
  <div class="modal-header">
    <h4 class="modal-title">Not allowed</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
