<a
  (click)="this.click(this.clickPayload)"
  class="list-group-item list-group-item-action d-flex flex-row"
  [ngStyle]="myStyle"
>
  <div class="d-flex flex-column w80">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">{{ this.title }}<span *ngIf="this.epic" class="badge badge-info">Epic</span></h5>
      <small></small>
    </div>
    <p class="mb-1">{{ this.description }}</p>
    <small>{{ this.expenditure }}</small>
    <small>{{ this.sprint }}</small> <small>{{ backlogType }}</small> <small class="right">{{ priority }}</small>
    <small *ngIf="this.sprint">Ist einem Sprint zugewiesen</small>
  </div>
  <div *ngIf="this.hasButton()" class="d-flex flex-row w20 buttons">
    <app-modal *ngIf="this.add" [component]="this.add" [payload]="this.addPayload">
      <button class="btn btn-secondary">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </app-modal>
    <app-modal
      *ngIf="this.edit"
      [component]="this.edit"
      [payload]="this.editPayload"
    >
      <button class="btn btn-secondary">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
    </app-modal>
    <app-modal
      *ngIf="this.delete"
      [component]="this.delete"
      [payload]="this.deletePayload"
    >
      <button class="btn btn-danger">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </app-modal>
  </div>
</a>
