@import '../../../styles.scss';

.btn {
    margin: 5px;
    cursor: pointer;
}

.buttons {
    justify-content: flex-end;
}

.w80 {
    width: 80%
}
.w20 {
    width: 20%;
}

.badge {
    margin-left: 15px;
    font-size: 0.8rem;
}

.right {
    text-align: right;
}
