/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/scss/bootstrap";

.place-left {
    margin-left: 10px;
}

.place-right {
    margin-right: 10px
}
$primary: #eeeeee;
$primaryDark: #bcbcbc;

$secondary: #424242;
$secondaryDark: #1b1b1b;
$secondaryLight: #6d6d6d;