/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/scss/bootstrap";
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

.place-left {
    margin-left: 10px;
}

.place-right {
    margin-right: 10px
}
$primary: #eeeeee;
$primaryDark: #bcbcbc;

$secondary: #424242;
$secondaryDark: #1b1b1b;
$secondaryLight: #6d6d6d;


/*Scroll bar nav*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: auto; 
    -webkit-border-radius: auto;
    border-radius: auto;
    background: auto;    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230); 
    -webkit-border-radius:auto;
    border-radius:auto;
    background: $primary; 
    -webkit-box-shadow:auto; 
}

.add-new-item {
    background-color: $primary;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
}